archivessnake==0.10.1
    # via -r requirements.in
attrs==25.4.0
    # via archivessnake
aws-assume-role-lib==2.10.0
    # via -r requirements.in
boltons==25.0.0
    # via archivessnake
boto3==1.42.24
    # via
    #   -r requirements.in
    #   aws-assume-role-lib
botocore==1.42.24
    # via
    #   boto3
    #   s3transfer
certifi==2026.1.4
    # via requests
charset-normalizer==3.4.4
    # via requests
idna==3.11
    # via requests
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
more-itertools==10.8.0
    # via archivessnake
python-dateutil==2.9.0.post0
    # via botocore
pyyaml==6.0.3
    # via archivessnake
rapidfuzz==3.14.3
    # via archivessnake
requests==2.32.5
    # via archivessnake
s3transfer==0.16.0
    # via boto3
six==1.17.0
    # via python-dateutil
structlog==25.5.0
    # via archivessnake
urllib3==2.6.3
    # via
    #   botocore
    #   requests
