archivessnake==0.10.1
    # via -r requirements.in
attrs==26.1.0
    # via archivessnake
aws-assume-role-lib==2.10.0
    # via -r requirements.in
boltons==26.1.0
    # via archivessnake
boto3==1.43.62
    # via
    #   -r requirements.in
    #   aws-assume-role-lib
botocore==1.43.62
    # via
    #   boto3
    #   s3transfer
certifi==2026.7.22
    # via requests
charset-normalizer==3.4.9
    # via requests
idna==3.18
    # via requests
jmespath==1.1.0
    # via
    #   boto3
    #   botocore
more-itertools==11.1.0
    # via archivessnake
python-dateutil==2.9.0.post0
    # via botocore
pyyaml==6.0.3
    # via archivessnake
rapidfuzz==3.14.5
    # via archivessnake
requests==2.34.2
    # via archivessnake
s3transfer==0.19.2
    # via boto3
six==1.17.0
    # via python-dateutil
structlog==26.1.0
    # via archivessnake
urllib3==2.7.0
    # via
    #   botocore
    #   requests
