boto3==1.43.38
    # via moto
botocore==1.43.38
    # via
    #   boto3
    #   moto
    #   s3transfer
certifi==2026.6.17
    # via requests
cffi==2.0.0
    # via cryptography
charset-normalizer==3.4.7
    # via requests
coverage==7.14.3
    # via -r tests/test_requirements.in
cryptography==49.0.0
    # via moto
idna==3.18
    # via requests
iniconfig==2.3.0
    # via pytest
jmespath==1.1.0
    # via
    #   boto3
    #   botocore
markupsafe==3.0.3
    # via werkzeug
moto==5.2.2
    # via -r tests/test_requirements.in
packaging==26.2
    # via pytest
pluggy==1.6.0
    # via pytest
pycparser==3.0
    # via cffi
pygments==2.20.0
    # via pytest
pytest==8.4.2
    # via -r tests/test_requirements.in
python-dateutil==2.9.0.post0
    # via botocore
pyyaml==6.0.3
    # via responses
requests==2.34.2
    # via
    #   moto
    #   responses
responses==0.26.1
    # via moto
s3transfer==0.19.0
    # via boto3
six==1.17.0
    # via python-dateutil
urllib3==2.7.0
    # via
    #   botocore
    #   requests
    #   responses
werkzeug==3.1.8
    # via moto
xmltodict==1.0.4
    # via moto
