boto3==1.43.85
    # via moto
botocore==1.43.85
    # via
    #   boto3
    #   moto
    #   s3transfer
certifi==2026.7.22
    # via requests
cffi==2.1.1
    # via cryptography
charset-normalizer==3.5.1
    # via requests
coverage==7.16.0
    # via -r tests/test_requirements.in
cryptography==50.0.1
    # via moto
idna==3.19
    # via requests
iniconfig==2.3.0
    # via pytest
jmespath==1.1.0
    # via
    #   boto3
    #   botocore
markupsafe==3.0.3
    # via werkzeug
moto==5.2.3
    # via -r tests/test_requirements.in
packaging==26.3
    # via pytest
pluggy==1.6.0
    # via pytest
pycparser==3.0
    # via cffi
pygments==2.21.0
    # via pytest
pytest==8.4.2
    # via -r tests/test_requirements.in
python-dateutil==2.9.0.post0
    # via botocore
pyyaml==6.0.3
    # via responses
requests==2.34.2
    # via
    #   moto
    #   responses
responses==0.26.3
    # via moto
s3transfer==0.19.2
    # via boto3
six==1.17.0
    # via python-dateutil
urllib3==2.7.0
    # via
    #   botocore
    #   requests
    #   responses
werkzeug==3.1.8
    # via moto
xmltodict==1.0.4
    # via moto
